# endpoints are NOT secured. Obviously don't do this in prod. Must be string literal 'true' to bypass auth.
BYPASS_AUTH='true'

# Courtbot URI and API secret used to register contacts (phone numbers)
# and cases with Courtbot.
COURTBOT_BASE_URI='https://your-courtbot-instance-here.herokuapp.com'
COURTBOT_API_TOKEN='{SECRET}'

# General Auth0 settings
AUTH0_DOMAIN='{DOMAIN}'

# Secrets for UI authentication
AUTH0_COURTBOT_UI_CLIENT_ID='{CLIENT_ID}'
AUTH0_COURTBOT_UI_CLIENT_SECRET='{SECRET}'

# Courtbot secrets used to make calls to Courtbook in order to get a
# case's defendants and a case's events so that it can send notifications.
AUTH0_COURTBOT_CLIENT_ID='{CLIENT_ID}'
AUTH0_COURTBOT_CLIENT_SECRET='{SECRET}'
# NOTE::: signing cert is multiline so it should be double quoted and new lines indicated with \n
AUTH0_COURTBOT_SIGNING_CERT="-----BEGIN CERTIFICATE-----\nLINE #1\nLINE #2\n-----END CERTIFICATE-----\n"

# Courtbook database
DATABASE_URL='postgres://courtbook:courtbook@localhost:5432/courtbook_db'
DATABASE_DIALECT='postgres'

# Log entries (optional)
LOGENTRIES_TOKEN='{SECRET}'
