AUTH0_DOMAIN='{DOMAIN}'
AUTH0_COURTBOT_UI_CLIENT_ID='{CLIENT_ID}'
AUTH0_COURTBOT_UI_CLIENT_SECRET='{SECRET}'
AUTH0_COURTBOT_CLIENT_ID='{CLIENT_ID}'
AUTH0_COURTBOT_CLIENT_SECRET='{SECRET}'
# Note signing cert is multiline so it should be double quoted and new lines indicated with \n
AUTH0_COURTBOT_SIGNING_CERT="-----BEGIN CERTIFICATE-----\nLINE #1\nLINE #2\n-----END CERTIFICATE-----\n"
